.mynavbar {
    background-color: azure;
    font-size: 22px;
}

.mynavitem {
    color: #107C84;  
}

.firsthero {
    background-color: #C7EBE9
}

.secondhero {
    background-color: #107C84;  
}

.thirdhero {
    background-color: bisque
}