.row {
    display: flex;
    width: 100%;
}
.column {
    float: left;
    width: 50%;
    height: 600px;
}
.header {
    height: 150px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
.skills {
    font-size: 40px;
    /* color: black; */
}
.projects {
    font-size: 40px;
    color: white;
}

.leftcolumn {
    background-color: #FBFAF5;
    height: 100%
}

.rightcolumn {
    background-color: rgb(0, 0, 0);
    min-height: 600px;
    height: 100%;
}

.projects {
    background-color: aqua;
    height: 295px;
    width: 295px;
    border: solid red 1px;
    /* margin: 2px; */
}

.project {
    text-align: center
}


@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
}

