.row {
    display: flex;
    width: 100%;
}
.column {
    float: left;
    width: 50%;
    height: 800px;
}
.header {
    height: 180px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
.myinfo {
    font-size: 40px;
}
.aboutme {
    font-size: 40px;
}

.leftcolumn {
    background-color: #FBFAF5;
}

.rightcolumn {
    background-color: rgb(0, 0, 0);
}

@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
}

